*
{
    box-sizing: border-box;

    outline: none;
}

html,
body
{
    width: 100%;
    height: 100%;
    margin: 0;
}

body
{
    font-family: arial;
    font-size: 16px;
}

input[type='text'],
input[type='password'],
button
{
    font-family: inherit;
    font-size: 1em;

    outline: 0;
}

.app
{
    width: 100%;
    height: 100%;
    padding-top: 200px;

    background-color: #1abc9c;
}

.form
{
    width: 360px;
    margin-left: 50%;
    padding: 20px;

    -webkit-transform: translateX(-50%);

    border-radius: 6px;
    background: #edeff1;
}

.form__fieldset
{
    position: relative;

    height: 44px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    border: 0;
}

.form__fieldset__text
{
    position: relative;

    width: 100%;
    height: 100%;
    padding: 0 35px 0 15px;

    border: 0;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 6px;
    background-color: #fff;
}

.form__fieldset__text:focus
{
    -webkit-transition: all 300ms ease-in-out;

    border: 2px solid #1abc9c;
}

.form__fieldset__text:focus + .form__fieldset__icon
{
    -webkit-transition: all 300ms ease-in-out;

    color: #1abc9c;
}

.form__fieldset__icon
{
    position: absolute;
    top: 13px;
    right: 15px;
    bottom: 0;

    color: #bfc9ca;
}

.form__fieldset__button-submit
{
    width: 100%;
    height: 44px;

    cursor: pointer;

    color: #fff;
    border: 0;
    border-radius: 6px;
    background-color: #1abc9c;
}

.form__fieldset__button-submit:hover
{
    -webkit-transition: all 300ms ease-in-out;

    background-color: #48c9b0;
}

.form__fieldset__lost-password
{
    font-size: .8em;

    display: block;

    margin-top: 20px;

    text-align: center;
    text-decoration: none;

    color: #bfc9ca;
}

.form__fieldset__lost-password:hover
{
    -webkit-transition: all 300ms ease-in-out;

    color: #1abc9c;
}
